@using IncrementalSheep.Components.ResourceComponents

<p><strong>Upgrade effect:</strong></p>

<p>@Engine.GameObjectName(@Upgrade.Upgradee) @PropertyName:</p>
@if (Upgrade.AdditiveEffect is not null) {
    <ul>
        @foreach (var (id, amnt) in Upgrade.AdditiveEffect.AllResources)
        {
            <li>@EnumNames.GetName(id): @amnt.ToString("+0.00;-0.00;0")</li>
        }
    </ul>
}

@if (Upgrade.MultiplicativeEffect is not null) {
    <ul>
        @foreach (var (id, scale) in Upgrade.MultiplicativeEffect.AllMultipliers)
        {
            <li>@EnumNames.GetName(id): ×@($"{scale:N2}")</li>
        }
    </ul>
}

@code {
    [Inject] public required GameEngine Engine { get; set; }
    [Parameter] public required Upgrade Upgrade { get; set; }

    private string PropertyName => EnumNames.GetName(Upgrade.Property);
}
